.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* o el valor que prefieras */
  margin: 0;
  width: 100%; /* Esto asegura que el contenedor ocupe el ancho completo */
}

.loginContainer {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem 2rem 4rem;
  width: 600px;
  border-radius: 10px;
  margin: 0;
}

.loginContainer h2{
  text-align: center;
}

.formContainer{
  padding: 20px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.formContainer:before {
  content: "";
  display: block;
  border-top: 1px solid #cecece;
  width: 70%;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.container p{
  font-size: 0.9rem;
  margin-top: 20px;
  color: #666; /* Un color suave que no distraiga */
}