.container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  gap: 20px;
  max-width: 1200px;
  padding: 0 1rem;
}

.firstColumn,
.secondColumn {
  flex: 1;
}

/* Primera columna */

.article {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}

.articleImageContainer {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.articleImage {
  width: 100%;
  max-height: 300px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.articleContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 0 0 15px 15px;
}

.articleContent p {
  margin: 0;
}

/* Segunda columna */

.articleHorizontal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.articleUpperSection {
  display: flex; 
  align-items: center;
  gap: 10px;
  width: 100%;
}

.articleImageSmall {
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.articleContentHorizontal {
  flex: 1;
}
.articleContentHorizontal p {
  margin: 0;
}

.cardCategories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 10px;
  width: 100%;
  justify-content: baseline;
}

.cardCategories span {
  /* Pildora de categoria */
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8em;
  background-color: #007bff;
  color: #ffffff;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cardCategories span:hover {
  transform: translateY(-2px);
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Apila los elementos verticalmente */
  }
}

@media (max-width: 600px) {
  .articleContent h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  .articleContent p {
    font-size: 15px;
    margin: 0;
  }

  .articleContentHorizontal h3 {
    font-size: 18px;
    font-weight: 600;
  }

  .articleContentHorizontal p {
    font-size: 12px;
  }
}

