.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 4rem;
}

.navbarBrand a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.navbarItems {
  display: inherit;
  align-items: inherit;

  overflow: hidden;
  max-height: 0; /* Inicia sin altura para ocultarlo */
  transition: max-height 0.7s ease-in-out;
}

.navbarItems > * {
  margin: 0 1rem;
  text-decoration: none;
  color: #000000;
}

.navbarItems a:last-child {
  font-weight: 700;
}

.navbarSearchBar svg {
  margin-right: 0.5rem;
}

.navbarSearchBar input {
  width: 200px;
  border: 0;
  border-bottom: 1px solid #cecece;
}

.navbarItemsResponsive {
  display: none;
}

.navbarToggle {
  display: none;
}

.navbarItemsActive {
  max-height: 500px;
}

@media (max-width: 835px) {
  .navbarItems {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 55px;
    left: 0;
    flex-direction: column;
  }

  .navbarItems > * {
    margin: 10px 0;
  }

  .navbarItems > *:nth-child(4) {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .navbarToggle {
    background-color: #f4f4f4;
    border: none;
    display: inline-block;
    transition: all 0.4s ease;
    border-radius: 4px;
    animation: transform;
    margin-right: 10px;
  }

  .navbarToggleActive {
    background-color: #efefef;
    color: #4d4d4d;
    transform: scale(1.4);
  }

  .navbarItemsActive {
    display: flex;
  }
}

@media (min-width: 835px) {
  .navbarItems {
    display: flex;
    max-height: none;
  }

  .navbarItemsActive {
    display: flex;
    max-height: none;
  }

  .navbarToggle {
    display: none;
  }
}

/* styles.css */

@keyframes rotateSun {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotateMoon {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.themeIcon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.themeIcon.sun {
  animation: rotateSun 1.5s ease forwards;
}

.themeIcon.moon {
  animation: rotateMoon 1.5s ease forwards;
}
